.side-bar{
  border-bottom: 1px solid rgba(0, 0, 0, 0.05); 
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.right-bar{
    flex-grow: 4;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05); 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }


.side-bar .button {
  display: block;
  padding: 20px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  color: #000;
}

.side-bar .button:hover {
    display: block;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    color: blue;
  }

.right-bar .button-right {
    display: block;
    padding: 20px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    text-align: center;
    text-decoration: none;
    color: #000;
  }
  .right-bar .button-right:hover {
    display: block;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    text-align: center;
    text-decoration: none;
    color: blue;
  }