:root {
  --black: #111;
  --dark: #141414;
  --white: #DAD9D3;
  --light: #5DA3B3;
  --mainBrand: #588FBF;
}

.side-bar{
  background-color: var(--black);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05); 
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.right-bar{
    background-color: var(--black);
    flex-grow: 4;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05); 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }


.side-bar .button {
  display: block;
  padding: 20px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.side-bar .button:hover {
    display: block;
    padding: 20px;
    color: var(--mainBrand);
    text-align: center;
    cursor: pointer;
    text-decoration: none;
  }

.right-bar .button-right {
    background-color: var(--black);
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
  }

  .right-bar button {
    border: none;
    background-color: white;
  }

  .right-bar .button-right:hover {
    display: block;
    padding: 20px;
    color: var(--mainBrand);
    text-align: center;
    text-decoration: none;
  }