:root {
    --black: #111;
    --dark: #141414;
    --white: #DAD9D3;
    --light: #5DA3B3;
    --mainBrand: #588FBF;
  }

.container{
    background: rgba(0, 0, 0, .30) url("../../assets/splash.jpg");
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 93.1vh;
    width: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-modal{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.05); 
    border-radius: 15px;
    height: auto;
    width: 24rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.navContainer{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 15px;
}

.navButton {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
    border-radius: 15px;
    text-decoration: none;
    font-size: 18px;
}

.signUp {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-top-right-radius: 15px;
    font-size: 18px;
}

.logIn {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-top-left-radius: 15px;
    font-size: 18px;
}

.signUp:hover {
    color: var(--mainBrand);
}

.logIn:hover {
    color: var(--mainBrand);
}

.label {
   color: rgba(0, 0, 0, 0.7);
}

.modal-body {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: column wrap;
    
    height: 100%;
    width: 90%;
}

.form-body {
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-break {
    border: 1px solid var(--dark); 
    height: 2px;
    width: 100%;
}

.input{
    width: 100%;
    height: 2rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sumbit-button {
    width: 100%;
    height: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--mainBrand);
    border: 1px solid var(--dark);
    border-radius: 15px;
}

.sumbit-button:hover {
    background-color: var(--dark);
    color: white;
}