:root {
  --black: #111;
  --dark: #141414;
  --white: #DAD9D3;
  --light: #5DA3B3;
  --mainBrand: #588FBF;
}
  

.mapCompContainer {
  height: auto;
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  background-color: var(--dark);
}

.submapCompContainer {
  height: auto;
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  background-color: white;
}
