:root {
    --black: #111;
    --dark: #141414;
    --white: #DAD9D3;
    --light: #5DA3B3;
    --mainBrand: #588FBF;
  }


a {
    text-decoration: none;
}

.mainContainer {
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    background-color: var(--dark);
}

.leftNav {
    background-color: var(--dark);
    height: 100%;
    width: 10%;
    flex-shrink: 1;
    flex-basis: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.divider {
    width: 80%;
    height: 1px;
    background-color: white;
}

.leftNavBottom {
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    align-self: flex-end;
}

.leftNavBottomButton {
    width: 2rem;
    height: 2rem;
}



.midContainer{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.subNav {
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--dark);
}

.subNavLeft {
    align-items: flex-end;
    background-color: var(--dark);
}

.subNavRight {
    align-self: flex-start;
    background-color: var(--dark);
}

.subNavButton {
    width: auto;
    height: 2rem;
    background-color: var(--dark);
    color: white;
    align-items: center;
    justify-content: center;
    border: none;
    text-decoration: none;
    font-size: 18px;
}

.subNavButton:hover {
    background-color: var(--mainBrand);
    color: white;
}

.subNavLink {
    width: auto;
    height: 2rem;

    color: white;
    align-items: center;
    justify-content: center;
    border: none;
    text-decoration: none;
    font-size: 18px;
}

.subNavLink:hover {
    color: var(--dark);
}

.active {
    width: auto;
    height: 2rem;
    background-color: white;
    color: var(--dark);
    align-items: center;
    justify-content: center;
    border: none;
    text-decoration: none;
    font-size: 18px;
}

.subNavActive {
    width: auto;
    height: 2rem;
    background-color: white;
    color: var(--dark);
    align-items: center;
    justify-content: center;
    border: none;
    text-decoration: none;
    font-size: 18px;
}

.welcomeBanner {
    width: 100%;
    height: 8rem;
    
    color: white;

    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.banner {
    background-color: var(--mainBrand);
    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.binders {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.bindercontainer {
    width: 95%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    gap: 4rem;
}

.binderBlock {
    height: 16rem;
    width: 16rem;

    background-color: var(--mainBrand);
    color: white;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.binderBlock a {
    color: white;
    text-decoration: none;
}

.createBinder{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.createNote:hover {
    background-color: white;
    color: black;
}

.createNote a {
    color: black;
}

.mapNotes {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.mapNotesContainer {
    width: 95%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 4rem;
}

.mapNoteBlock {
    height: 16rem;
    width: 19rem;


    background-color: var(--darkPurple);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
