.mainContainer {
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.leftNav {
    background-color: #223147;
    height: 100%;
    width: 10%;
    flex-shrink: 1;
    flex-basis: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.divider {
    width: 80%;
    height: 1px;
    background-color: white;
}

.leftNavBottom {
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    align-self: flex-end;
}

.leftNavBottomButton {
    width: 2rem;
    height: 2rem;
}



.midContainer{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.subNav {
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #223147;
}

.subNavLeft {
    align-items: flex-end;
    background-color: #223147;
}

.subNavRight {
    align-self: flex-start;
    background-color: #223147;
}

.subNavButton {
    width: auto;
    height: 2rem;
    background-color: #223147;
    color: white;
    align-items: center;
    justify-content: center;
    border: none;
    text-decoration: none;
    font-size: 18px;
}

.subNavLink {
    width: auto;
    height: 100%;

    background-color: #223147;
    color: white;
    align-items: center;
    justify-content: center;
    border: none;
    text-decoration: none;
    font-size: 18px;
}

.subNavLink:hover {
    background-color: white;
    color: #223147;
}

.active {
    width: auto;
    height: 2rem;
    background-color: white;
    color: #223147;
    align-items: center;
    justify-content: center;
    border: none;
    text-decoration: none;
    font-size: 18px;
}

.subNavActive {
    width: auto;
    height: 2rem;
    background-color: white;
    color: #223147;
    align-items: center;
    justify-content: center;
    border: none;
    text-decoration: none;
    font-size: 18px;
}

.subNavButton:hover {
    background-color: white;
    color: #223147;
}

.welcomeBanner {
    width: 100%;
    height: 8rem;
    color: white;

    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.banner {
    background-color: black;
    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.binders {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.bindercontainer {
    width: 95%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    gap: 4rem;
}

.binderBlock {
    height: 16rem;
    width: 16rem;

    background-color: brown;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
