:root {
    --black: #111;
    --dark: #141414;
    --white: #DAD9D3;
    --light: #5DA3B3;
    --mainBrand: #588FBF;
  }

.landing {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.landing-header {
    width: 100%;
    height: 26rem;
    background: rgba(0, 0, 0, .50) url("../../assets/splash.jpg");
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.IntroLeft {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 2rem;
}

.IntroText {
    margin-left: 7rem;
    font-size: 58px;
    color: white;
}

.IntroButton {
    margin-left: 7rem;
    width: 45%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
    color: black;
    border-radius: 15px;
    text-decoration: none;
    font-size: 18px;
}

.IntroButton:hover {
    color: white;
    background-color: var(--mainBrand);
}

.IntroRight {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2rem;
}

.rightContainer {
    width: 75%;
    height: 80%;
    border-radius: 15px;
    background: rgba(0, 0, 0, .50) url("../../assets/castle.jpg");
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}


.introCard {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;    
    justify-content: flex-start;
    align-items: center;
    color: white;
}

.titleContainer {
    font-size: 32px;
}

.introCardTitle {
    font-size: 64px;
    margin: 0;
    margin-top: 5%;
    padding: 0;
}

.introCardContent {
    font-size: 24px;
    text-align: center;
}

.landing-body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cardContainer {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}

.bodyCard {
    width: 30%;
    height: 18rem;
    margin-top: 2rem;
    border-radius: 15px;
    background-color: var(--mainBrand);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.cardTitle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 1rem;
    width: 100%;
}

.bodyImg {
    width: 4rem;
    height: auto;
    margin-left: .5rem;
    margin-right: 1rem;
}

.cardContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cardInfo {
    width: 90%;
}

.cardButton {
    width: 50%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
    color: var(--mainBrand);
    border-radius: 15px;
    text-decoration: none;
    font-size: 18px;
}

.cardButton:hover {
    background-color: var(--dark);
    color: white;
}

.featuresThing {
    width: 80%;  
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.featureTitle {
    font-size: 48px;
}

.binderFeature {
    width: 100%;
    height: 34rem;  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.binderLeft {
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.binderLeftTitle {
    margin: 0%;
    font-size: 48px;
}

.binderLeftContent {
    font-size: 20px;
}

.CircleContainer {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.contentCircle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-radius: 100px;
    background-color: var(--mainBrand);
    width: 5rem;
    height: 5rem;
}

.contentCircle:hover {
    background-color: var(--dark);
}

.circleImg {
    width: 75%;
}

.binderRight {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.binderRight img{
    width: 750px;
    height: 421px;
    border-radius: 15px;
}

.showCaseThing {
    background-color: var(--mainBrand);
    width: 100%;
    height: 40rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ShowtitleContainer {
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.showCaseTitle {
    margin: 0;
    font-size: 48px;
    color: white;
}

.showCasesubTitle {
    margin: 0;
    font-size: 20px;
    color: white;
}

.Showcase {
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.showCaseCircle {
    background-color: var(--dark);
    border-radius: 200px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.showCaseCircleImg {
    width: 75%;
}

.showCaseHeader {
    font-size: 20px;
    color: white;
}

.showCaseButton {
    width: 35%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--dark);
    color: white;
    border-radius: 50px;
    text-decoration: none;
    font-size: 18px;
}

.showCaseButton:hover {
    background-color: white;
    color: var(--dark);
}

.showCaseContent {
    font-size: 18px;
    color: white;
    width: 70%;
    text-align: center;
}

.showCaseContentBlue{
    font-size: 18px;
    color: var(--mainBrand);
    width: 70%;
    text-align: center;
}
.showcaseDivider {
    width: 1px;
    height: 50%;
    background-color: var(--dark);
}

.footer {
    position: sticky;
    top: 0;

    width: 100%;
    height: 8rem;
    background-color: var(--black);
    color: white;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
