.landing {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.landing-header {
    width: 100%;
    height: 30rem;
    background: rgba(0, 0, 0, .50) url("../../assets/splash.jpg");
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.IntroLeft {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.IntroText {
    margin-left: 7rem;
    font-size: 58px;
    color: white;
}

.IntroButton {
    margin-left: 7rem;
    width: 50%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
    color: black;
    border-radius: 15px;
    text-decoration: none;
    font-size: 18px;
}

.IntroButton:hover {
    color: white;
    background-color: #AC4F49;
}

.IntroRight {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightContainer {
    width: 80%;
    height: 80%;
    border-radius: 15px;
    background: rgba(0, 0, 0, .50) url("../../assets/castle.jpg");
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}


.introCard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;    
    justify-content: flex-start;
    align-items: center;
    color: white;
}

.titleContainer {
    font-size: 32px;
}

.introCardTitle {
    font-size: 64px;
    margin: 0;
    margin-top: 5%;
    padding: 0;
}

.introCardContent {
    font-size: 28px;
    text-align: center;
}

.landing-body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cardContainer {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.bodyCard {
    width: 30%;
    height: 18rem;
    margin-top: 2rem;
    border-radius: 15px;
    background-color: #AC4F49;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.cardTitle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 1rem;
    width: 100%;
}

.bodyImg {
    width: 4rem;
    height: auto;
    margin-left: .5rem;
    margin-right: 1rem;
}

.cardContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cardInfo {
    width: 90%;
}

.cardButton {
    width: 50%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
    color: #AC4F49;
    border-radius: 15px;
    text-decoration: none;
    font-size: 18px;
}

.cardButton:hover {
    background-color: #223147;
    color: white;
}